<section id="aboutme" class="vh-fix">
  <div class="about-header">
    <div class="about-header aos-init aos-animate" data-aos="flip-left" data-aos-delay="500" data-aos-duration="1000"> Who Am I?
    </div>



  </div>
  <div class="about-content aos-init aos-animate" data-aos="fade-down" data-aos-delay="1000" data-aos-duration="1000">
    <p>
      My name is Michael Ekert, and I am a full stack web developer.
    </p>
    <p>
      Web Development knowledge includes some of the following:
    </p>


    <div class="about-icontray container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <i class="fab fa-angular fa-5x"></i>
        </div>
        <div class="col-sm-3">
          <i class="fab fa-node fa-5x"></i>
        </div>
        <div class="col-sm-4">
          <i class="fab fa-sass fa-5x"></i>
        </div>
        <div class="col-sm-4">
          <i class="fab fa-aws fa-5x"></i>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
      </div>

  </div>
</section>
