#aboutme {
    .red {
        color: #f00;
    }
    height: 100vh;
    color: #000;
    font-size: 2rem;
    font-weight: 300;
    .about-header {
        padding: 20px 0;
        width: 100%;
    }
    .about-content {
        font-size: 3vw;
    }
    .about-icontray {
        justify-content: space-evenly;
        img {
            width: 100px;
            padding: 10px 0;
        }
    }
}