#aboutme {
    height: 100vh;
    .about-content {
        position: relative;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        
        color: #000;
    }
}