<section id="aboutme" class="vh-fix">
  <div class="about-box">
    <div class="about-header">
      <div class="about-header aos-init aos-animate" data-aos="fade-left" data-aos-delay="600" data-aos-duration="1000">
        <span>About</span></div>
    </div>
    <div class="about-content aos-init aos-animate container-fluid" data-aos="fade-left" data-aos-delay="600" data-aos-duration="1000">
      <p>
        My name is<span class="red"> Michael Ekert</span>,<br>and I am a Full Stack Web Developer.<br>
        Web Development knowledge includes some of the following:
      </p>
    </div>
    <div class="about-icontray container-fluid d-flex flex-column">
      <div class=" about-iconcontainer d-flex flex-column">
        <div class="col-sm-3 about-icons">
          <img src="../../../assets/angular.svg" alt="Angular 5 icon" class="about-angularlogo" data-aos="fade-right" data-aos-delay="800"
            data-aos-duration="1000" data-aos-anchor=".about-jslogo">
          <img src="../../../assets/node.svg" alt="Node.js icon" class="about-nodelogo" data-aos="fade-right" data-aos-delay="800"
            data-aos-duration="1000" data-aos-anchor=".about-jslogo">
          <img src="../../../assets/js.svg" alt="Javascript icon" class="about-jslogo" data-aos="fade-right" data-aos-delay="800" data-aos-duration="1000"
            data-aos-anchor=".about-jslogo">
        </div>
        <div class="col-sm-3 about-icons">
          <img src="../../../assets/aws.svg" alt="AWS icon" class="about-awslogo" data-aos="fade-left" data-aos-delay="1200" data-aos-duration="1000"
            data-aos-anchor=".about-jslogo">
          <img src="../../../assets/sass.svg" alt="Sass icon" class="about-sasslogo" data-aos="fade-left" data-aos-delay="1200" data-aos-duration="1000"
            data-aos-anchor=".about-jslogo">
          <img src="../../../assets/css3.svg" alt="CSS 3 icon" class="about-csslogo" data-aos="fade-left" data-aos-delay="1200" data-aos-duration="1000"
            data-aos-anchor=".about-jslogo">
        </div>
        <div class="col-sm-3 about-icons about-half">
          <img src="../../../assets/jquery.svg" alt="jQuery icon" class="about-jquerylogo" data-aos="fade-right" data-aos-delay="1500"
            data-aos-duration="1000" data-aos-anchor=".about-jslogo">
          <img src="../../../assets/rwd.svg" alt="Responsive Design icon" class="about-rwdlogo" data-aos="fade-right" data-aos-delay="1500"
            data-aos-duration="1000" data-aos-anchor=".about-jslogo">
        </div>
        <div class="col-sm-3 about-icons about-half">
          <img src="../../../assets/sql.svg" alt="Javascript icon" class="about-jslogo" data-aos="fade-left" data-aos-delay="1700"
            data-aos-duration="1000" data-aos-anchor=".about-jslogo">
          <img src="../../../assets/mongo.svg" alt="Responsive Design icon" class="about-rwdlogo" data-aos="fade-left" data-aos-delay="1700"
            data-aos-duration="1000" data-aos-anchor=".about-jslogo">
        </div>
      </div>
    </div>
  </div>
</section>
