<section id="main" class="vh-fix">
    <div class="header-bar">
        <i class="fas fa-bars"></i>
      </div>
  <div class="hero">

    <div class="hero-image">
      <img src="../../../assets/hero.png" alt="author">
    </div>

    <div class="hero-name">
      <p>
        Michael Ekert.
      </p>
    </div>
    <div class="hero-desc">
      <p>
        <span>
          Creative. Developer.
        </span>
        <span class="red">Nerd</span><span class="blink red">_</span>
      </p>
    </div>
    <div class="hero-aboutme">
      <p>Check out my journey.</p>
    </div>
  </div>
</section>
