<section id="main" class="vh-fix" data-aos="zoom-in" data-aos-delay="1000"> 
  <div class="hero">
    <div class="hero-image">
      <img src="../../../assets/hero.png" alt="author">
    </div>
    <div class="hero-name">
      <p>
        Michael Ekert.
      </p>
    </div>
    <div class="hero-desc">
      <p>
        <span>
          Creative. Developer.
        </span>
        <span class="red">Nerd</span><span class="blink red">_</span>
      </p>
    </div>
    <div class="hero-aboutme">
      <a href="#aboutme" class="d-flex justify-content-center">
        <button>
          <span>Check out my journey.</span>
          <i class="fas fa-arrow-right"></i>
        </button>
      </a>
    </div>
  </div>
</section>
