#main {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252935;
    border-bottom: #f00 4px solid;
    .blink {
        animation-name: blink;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
        animation-duration: 1s;
        @keyframes blink {
            from {
                opacity: 1.0;
            }
            to {
                opacity: 0.0;
            }
        }
    }
    .hero {
        .hero-image {
            img {
                width: 25%;
            }
        }
        .hero-aboutme {
            margin: 40px 0;
            display: flex;
            justify-content: center;
            a {
                text-decoration: none;
                padding: 0 10px;
                width: 100%;
                button {
                    border: 1px solid white;
                    width: 70%;
                    background-color: #ffffff00;
                    border-radius: 30px;
                    color: #fff;
                    font-size: 4vw;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    justify-content: center;
                    span {
                        padding: 5px;
                    }
                }
            }
        }
        p {
            font-family: 'Raleway', sans-serif;
            color: white;
            font-size: 5vw;
            font-weight: 400;
            margin: 0;
            position: relative;
            .red {
                color: #f00;
            }
        }
        svg {
            color: #fff;
            font-size: 1rem;
            margin: 0 10px;
        }
    }
}

.header-bar {
    height: 50px;
    width: 100%;
    background: #1B242F;
    position: absolute;
    top: 0;
    .fa-bars {
        color: #fff;
        height: 3rem;
        width: 1.875em;
        float: right;
        margin-right: 25px;
    }
}

.about-icontray {
    .about-db {
        height: 135px;
        width: auto;
    }
}